<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
    <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css"/>
    <title>CalcApp</title>
</head>
<body class="bg-light">
    <div class="vertical-center">
        <div class="container">
            <form action="/calculator" method="post" class="form-group">
        <p class="display-2 fixed-top" th:text="${result}"/>
                <label class="h3" for="problem" >Type in your problem:</label>
                <input class="form-control" type="text" id="problem" name="problem" placeholder="1+2">
                <input class="btn btn-primary" type="submit" value="CALCULATE">
            </form>
        </div>
    </div>
</body>
</html>