<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
    <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css"/>
    <title>CalcApp</title>
</head>
<body class="bg-light">
    <div class="container">
        <h1 class="display-1">Calculator</h1>
        <form action="/index" method="post" class="form-group">
            <label class="h4" for="login" >LOGIN</label>
            <input type="text" class="form-control" name="login" id="login">
            <label class="h4" for="pass">PASSWORD</label>
            <input type="password" class="form-control" name="pass" id="pass">
            <input type="submit" value="Login" class="btn btn-primary">
        </form>
        <p class="text-danger" th:text="${LoginError}"/>
    </div>
</body>
</html>